*{
 margin:0;
 padding:0;
}

html,body{
width:100%;
color:#000;
font: 13px/24px "Helvetica Neue",Helvetica,Arial,Verdana,"\5b8b\4f53",sans-serif;
background-color:white;
}
a {
 color:#000;
 text-decoration:none;
 outline: none;
}

.container {
 width:100%;
 min-width:1002px;;
}
/*********** header*****************/
.header-wrapper{
  height:50px;
  width:100%;
  background:#425e66; 
  border-bottom: 1px solid #5F767F;  
}
.header, .main-nav,.content{
  width:96%;
  min-width:1002px;
  margin:0 auto; 
  _width: expression(((document.compatMode && document.compatMode=='CSS1Compat')? document.documentElement.clientWidth : document.body.clientWidth) < 1020? '1002px' : '96%'); 
}
.logo{
float:left;
padding-left:20px;
padding-top:6px;
width: 20%;
min-width: 200px;
}
.logo img{
border:none;
}
.search-2014 {
  padding: 12px 26px 8px 10px;
  height: 26px;
  float:left;
  font-family:  "Microsoft Yahei",sans-serif;
    width: 31%;
  min-width: 318px;
}
.search-2014 .form {
  height:26px;
}
.search_type{
float:left;
width:60px;
background:white;
position:relative;
z-index:9;
font-size:12px;
}
.search_type ul{
  position: absolute;
  left: -999em;
  list-style-type: none;
  background: white;
  border: 1px solid silver;
  border-bottom: none;
  width:58px;
}
.search_type:hover ul{
display:block;
left:0px;
top:auto;
float:left;
}
.type-name{
height:26px;
padding-left:12px;
line-height:26px;
background: url(../image/bg_icon.png) no-repeat 22px 10px;
border-right:1px solid silver;
border-left:1px solid silver;

}
.search_type ul li{
  line-height:26px;
  height:26px;
  display: block; 
  border-bottom: 1px solid silver;
  cursor: pointer;
  text-align: center;
}

.search_type ul li:hover{
background:silver;
}
.search_type:hover .type-name {
  background: url(../image/bg_icon.png) no-repeat 22px -26px;
  
}			
.search-2014 .text {
  float: left;
  width:50%;
  max-width:300px;
  min-width:186px;
  color: #666;
  border:none;
  outline: 0;
  line-height:26px;
  height:26px;
  border-right:1px solid silver;
  padding-left:10px;

}
.search-2014 .button {
  float: left;
  width: 60px;
  background: white;
  color: #000;
  font-size: 14px;
  cursor: pointer;
  border: none;
  line-height:26px;
  height:26px; 
  font-family:  "Microsoft Yahei",sans-serif;
  
}
 
 
.user-bar {
  position: relative;
  float: right;
  display: block;
  height:50px;
  width:162px;
  margin-right:0px;
}
.user-title{
  cursor:pointer;
  text-align: center;
  vertical-align:middle;
  color:#fff;
  display:block;
  line-height:50px;
  }
.user-title span{
display: inline-block;
height:10px;
width:10px;
padding-left:6px;
background: url(../image/bg_icon.png) no-repeat 6px 2px;
}
.user-bar ul{ 
position: absolute;
left: -999em;
float:right;
list-style-type:none;
background:#fff;
border-left:1px solid #eaedf1;
border-right:1px solid #eaedf1;
border-top:1px solid #eaedf1;
width:160px;
}
.user-bar ul li{
 text-align:center;
 border-bottom:1px solid #eaedf1;
 font-family:  "Microsoft Yahei",sans-serif;
}
.user-bar ul li:hover{
background:#eaedf1;
}
.user-bar ul li a{
    line-height: 40px;
  height:40px;
  display:block;
  color:#000;
  width:160px;
}

.user-bar:hover .user-title{
 background-color:#0062A0;
}
.user-bar:hover .user-title span{
background: url(../image/bg_icon.png) no-repeat 6px -33px;
}
.user-bar:hover ul{
left:0px;
top:auto;
}

.notification-global{
  vertical-align:middle;
  display:block;
  line-height:50px;
  height:50px;
  float:left;
  color:white;
  width:26%;
  max-width:400px;
  min-width:262px;


}
.notification-global a{
color:red;
text-decoration:underline;

}


/********MAIN-NAV***************/
.main-nav-wrapper{
width:100%;
background: #666e73;
border-top: 1px solid #2d444f;
border-bottom: 1px solid #2d444f;
height:30px;
}
.main-nav{
border-left:1px solid silver;
height:30px; 
z-index:6;
}
#top_ul{
list-style:none;
width:80%;
min-width:800px;
max-width:1400px;
}
 
.main-nav ul li{
float:left;
height:30px;
line-height:30px;
border-right:1px solid silver;
text-align:center;
width:8%;
max-width:120px;
position:relative;
}
.main-nav ul li a{
color:white;
display:block;
height:30px;
  height: 28px;
  line-height: 28px;
  padding-top: 2px;
}

.main-nav ul li:hover{
 background: #DC680E;

}
.main-nav ul li:hover .dropdown_4columns{

left:-1px;
top:auto;
}


.dropdown_1column, .dropdown_2columns, .dropdown_3columns, .dropdown_4columns, .dropdown_5columns {
  z-index: 9;
  float: left;
  position: absolute;
  left: -999em;
  text-align: left;
  padding: 10px 5px 10px 5px;
  border: 1px solid #777777;
  border-top: none;
  background: white;
  -moz-border-radius: 0px 5px 5px 5px;
  -webkit-border-radius: 0px 5px 5px 5px;
  border-radius: 0px 5px 5px 5px;
  max-width:800px;
  border-top: 1px solid #2d444f;
  display: inline-block;
  white-space: nowrap;
}
.dropdown_1column  {width: 140px;}
.dropdown_2columns {width: 280px;}
.dropdown_3columns {width: 420px;}
.dropdown_4columns {width: 560px;}
.dropdown_5columns {width: 800px;}


.col_1{
float:left;
padding:0px 20px;
width:100px;
}
.col_1 h3{


}
#top_ul ul{
list-style:none;

}
 
#top_ul ul li{
height:30px;
line-height:30px;
text-align:left;

float:none;
border:none;
color:black;
width:auto;
}
.main-nav ul ul li a{
height:30px;
 color: black;
 display: block;
}




/************content*****/

.content-wrapper{
width:100%;
background:silver;
}


/*********产品列表页********/

.content-header {
  margin-bottom: 12px;
  border-bottom: 4px solid #dfdfdf;
  padding: 20px 0px 6px 0px;
}
.content-header h3 {
  float: left;
  color: #eb5e00;
  font-size: 18px;
  width:50%;
}
.a-right {
  text-align: right !important;
}
.content-header button{
  border-width: 1px;
  border-style: solid;
  border-color: #ed6502 #a04300 #a04300 #ed6502;
  background:#DC680E;
  padding: 1px 7px 2px 7px;
  color: #fff;
  cursor: pointer;
  text-align: center !important;
  white-space: nowrap;
  font-weight:bold;
  margin-right:20px;
}
.switcher{
background:#E7EFEF;
padding:6px 10px;
}
#productGrid th, #productGrid td {
  padding: 2px 4px ;
  text-align: left;
}
.headings{
background:#EAEAEA;
}

.headings th{
  border-width: 1px;
  border-color: #f9f9f9 #d1cfcf #f9f9f9 #f9f9f9;
  border-style: solid;
  padding-top: 1px;
  padding-bottom: 0;
}
.filter th input, .filter th select{
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #aaa ;
  float: left;
  width: 100% !important; 
  padding:2px 0px;
  line-height: 17px;
  text-indent:5px;
}

.filter{
background:#D1E0E2;

}
.filter th {
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #bdbdbd;
  border-width: 0 1px 1px 0;
  white-space: normal;
  font-weight: normal;
}
#productGrid table td {
  border-width: 0 1px 1px 0;
  border-color: #dadfe0;
  border-style: solid;
}

.product_id,.product_sku{
width:110px;
}
.product_name{
min-width:240px;
width:20%;

}
.product_checkbox{
width:20px;
}
.product_price,  .product_stock, .product_status,.product_op,.product_attribute{
width:80px;
}
.product_type{
width:90px;
}






/**************** 产品编辑页 ****************/

.left-col{
float:left;
width:220px;
padding-bottom: 25px;
padding-top:25px;
}
.left-col h3{
padding-left:6px;
height:28px;
border-bottom:2px solid #bebebe;
}
.left-col ul{
  background: #E7EFEF;
  list-style:none;
  border-right: 2px solid #bebebe;
 
}
.left-col ul li {
border-bottom: 1px dotted #000; 
padding:3px 30px;

}
.left-col ul li.active, .left-col ul li:hover {
  border-bottom: 1px solid #bebebe;
  background: #fff;
    cursor: pointer;
}
 
.main-col{
margin-left: 230px;
padding:0 0 25px 25px;
min-height:450px;
}

.content-inner{
border:1px solid #bebebe;

}
.content-inner h3{
height:30px ;
background:#6F8992;
color:#fff;
padding-left:10px;
}
.content-inner table{
padding:20px 38px;
width: 100% !important;
}
.content-inner table td.label{
width:150px;
padding:5px;
}
.content-inner table td.value{
  width: auto !important;
}
.content-inner table td.value input, .content-inner table td.value textarea{
  width: 98% !important;
}
.content-inner table td.value textarea {
  height: 15em;
}













/***************订单列表*************/

.filter th input.tcalinput{
  background: url('../image/cal.gif') 100% 50% no-repeat white;
  cursor: pointer;
}
th label{
display:block;
width:100px;
}
.tcal {
width:100%;
}
.order_time{
width:200px;
}
body>label{
cursor:pointer;
}